node_modules/
**/node_modules/
server/dist/
@shared/
client/dist/
client/.vite/
*.log
.env
.env.*
!.env.example

# Ignore backup files
*.bak

# Ignore build output
/shared/dist/
/server/dist/
/client/dist/

# macOS
.DS_Store
**/.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# runtime state (local only)
server/src/state/state.json